<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ pageTitle }}</a>
        </div>
    </nav>

    <div class="clearfix container-fluid">
        <div class="right">
            <div class="bg-light">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" (click)="openAddPatient()">
                    Add Patient
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-12">
            <table class="table table-dark table-hover" *ngIf="users && users.length">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Associated Clinic</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td><a class="anchor" data-toggle="modal" data-target="#exampleModal"  (click)="openViewPatient(user)">{{ user.name }}</a></td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.clinic }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"  (click)="openViewPatient(user)">View</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="openDeletePatient(user)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        Error: {{ errorMessage }}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" *ngIf="openModal">
        <app-add-patient [item]="currentItem" (modalCloseEvent)="modalClose($event)"></app-add-patient>
    </div>
</div>