<form (ngSubmit)="onSubmit()" #addPatientForm="ngForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ popupHeading }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"
                    #closeAddPatientModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="selected == 1">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="patientName" name="name"
                            #name="ngModel" />
                        <span [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Name is required
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="col-form-label">Address:</label>
                        <input type="text" class="form-control" required [(ngModel)]="patientAddress" name="address"
                            id="address" #address="ngModel" />
                        <span [hidden]="address.valid || address.pristine" class="alert alert-danger">
                            Address is required
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="clinic" class="col-form-label">Associated Clinic:</label>

                        <div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" required type="text" [(ngModel)]="patientClinic"
                                        (keyup)="suggest()" name="clinic" id="clinicIds" #clinic="ngModel" />
                                </div>
                            </div>
                            <div class="search-result" *ngIf="suggestions.length && flag">
                                <ul>
                                    <li *ngFor="let s of suggestions">
                                        <a (click)="onselectClient(s)">{{ s }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div [hidden]="clinic.valid || clinic.pristine" class="alert alert-danger">
                            Clinic is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="selected == 2">
                <h6>Are you sure want to delete patient ?</h6>
            </div>
            <div class="modal-body" *ngIf="selected == 3">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name: <strong> {{ item.selectedPatient.name
                                }} </strong>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="col-form-label">Address: <strong> {{ item.selectedPatient.address
                                }}</strong>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="clinic" class="col-form-label">Associated Clinic:
                            <strong> {{ item.selectedPatient.clinic }}</strong></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">
                    Close
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="!addPatientForm.form.valid || buttonDisabled"
                    *ngIf="selected === 1">
                    Save
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="!addPatientForm.form.valid || buttonDisabled"
                    *ngIf="selected === 2">
                    Delete
                </button>
            </div>
        </div>
    </div>
</form>